/* styles.css */

.sidebar {
    background-color: #f8f9fa;
    padding: 20px;
    height: 100vh;
    float:left;
  }
  
  .sidebar h4 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .sidebar .nav-link {
    color: #333;
  }
  
  .sidebar .nav-link:hover {
    color: #000;
    text-decoration: none;
  }
  
  .sidebar .nav-item {
    margin-bottom: 10px;
  }
  